<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recruit Me</title>
    <link rel="stylesheet" href="../../public/stylesheets/stylesheet.css" />
    <link rel="stylesheet" href="../../public/stylesheets/responsive.css" />
  </head>
  <body>
    <header>
      <div class="container">
        <div class="header-left">
          <img
            class="logo"
            src="../../public/images/logo.png"
          />
        </div>
        <span class="fa fa-bars menu-icon"></span>
        <div class="header-right">
          <a href="#">Home</a>
          <a href="#about-us" class="login">About us</a>
          <a href="#contacts" class="login">Contacts</a>
          <a href="singup.html" class="login">sign up</a>
        </div>
      </div>
    </header>
    <div class="top-wrapper">
      <div class="container">
        <h1>Recruit Me</h1>
        <h1>Where you can find a job</h1>
        <br>
        <p>Recruit Me is a web service where you can find a job.</p>
       <br>
        <div class="btn-wrapper">
          <a href="#" class="btn signup">Sign up </a>
        </div>
      </div>
    </div>
    <div class="signup-modal-wrapper" id="signup-modal">
      <div class="modal">
        <div class="close-modal">
          <i class="fa fa-2x fa-times">×</i>
        </div>
        <div id="signup-form">
          <h2>Sign in</h2>
          <form action="#">
            <input class="form-control" type="text" placeholder="Email" />
            <input
              class="form-control"
              type="password"
              placeholder="Password"
            />
            <div id="submit-btn">Sign in</div>
          </form>
        </div>
      </div>
    </div>
    <!-- info -->
    <div class="info-wrapper">
      <div class="container">
        <div class="heading">
          <h2 id="about-us">About us</h2>
        </div>
        <div class="infos">
          <div class="info">
            <div class="info-icon">
              <img src="https://prog-8.com/images/html/advanced/html.png" />
              <p>Who Where are ?</p>
            </div>
            <p class="text-contents">
              Recruit Me is digital platform that recruitment agencies use to establish their online brand presence, advertise job openings, and drive and engage candidates to search and apply for these jobs directly through their recruitment platform. With a high percentage of job searches taking place before getting in touch, a dedicated recruitment website for an agency is now essential. It’s an exciting time for recruitment agencies
            </p>
          </div>
          <div class="info">
            <div class="info-icon">
              <img src="https://prog-8.com/images/html/advanced/ruby.png" />
              <p>our collaboration</p>
            </div>
            <p class="text-contents">
              ?
            </p>
          </div>
          <div class="info">
            <div class="info-icon">
              <img src="https://prog-8.com/images/html/advanced/jQuery.png" />
              <p>Our aim</p>
            </div>
            <p class="text-contents">
              is to connect job seekers with potential employers and help them find suitable job opportunities. This can include job listings, job search tools, resume posting services, and other resources to help job seekers in their job search process. The website may also provide tools and services for employers to post job listings, review resumes, and communicate with job candidates. The overall goal is to create a platform that makes the job search and recruitment process more efficient, effective, and accessible for both job seekers and employers
            </p>
          </div>
          <div class="info">
            <div class="info-icon">
              <img src="https://prog-8.com/images/html/advanced/php.png" />
              <p>?</p>
            </div>
            <p class="text-contents">
              ?
            </p>
          </div>
          <div class="clear"></div>
        </div>
      </div>
    </div>

    <div class="message-wrapper">
      <div class="container">
        <div class="heading">
          <h2 id="contacts">Contacts</h2>
          <h3></h3>
        </div>
        <a href= "mailto :yassine.lr.2001@gmail.com" class="btn message">Send Mail</a>
      </div>
    </div>

    <footer>
      <div class="container">
        <p class="in-footer">Recruit Me</p>
        <p>Best way to build your career</p>
      </div>
      <script type="text/javascript" src="../../public/javascript/script1.js"></script>
    </footer>
  </body>
</html>
