* {
    margin: 0;
    padding: 0;
}

#logo {
    z-index: 99;
    position: relative;
    top: 0;
    color: white;
    margin-left: 10px;

}

.pattern1 {
    position: fixed;
    z-index: 0;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: #6c816b;
}

.pattern {
    position: fixed;
    z-index: 0;
    top: 0px;
    left: 0;
    width: 100%;
    height: 30%;
    transform: skewY(-6deg);
    background-color: #6c816b;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


}

.container {
    margin-top: 5%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

}


.form-section {
    position: relative;
    display: inline-block;
    margin: 2% 2%;
}

.edu-header,
.exp-header,
.comp-header,
.lang-header {
    font-size: 30px;
    display: flex;
    column-gap: 10px;
    align-items: baseline;
}

.form-education,
.form-resume,
.form-experience,
.form-competence, 
.form-language {
    width: 100%;
    max-width: 700px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;
    background-color: white;
}

.first-inputs {
    display: flex;
    width: 100%;
}

.name {
    width: 100%;
}

.degree-city {
    display: inline-flex;
    column-gap: 6px;
    width: 99%;

}


.upload-image {
    display: flex;
    width: 50%;
    height: 100%;
    position: relative;

}

.upload-image img {
    height: 130px;
    width: 130px;
    border-radius: 50%;
    border: 6px solid #eaeaea;

}

.upload-image .round {
    position: relative;
    background: #6c816b;
    width: 32px;
    height: 32px;
    line-height: 33px;
    text-align: center;
    border-radius: 50px;
    overflow: hidden;
}

.upload-image .round input[type='file'] {
    position: absolute;
    transform: scale(2);
    opacity: 0;
}

input[type='file']::-webkit-file-upload-button {
    cursor: pointer;
}

.email-num {
    display: flex;
    width: 100%;
    justify-content: space-around;
    column-gap: 10px;
}

.intl-tel-input {
    display: table-cell;
}

.intl-tel-input .selected-flag {
    z-index: 4;
}

.intl-tel-input .country-list {
    z-index: 5;
}

.input-group .intl-tel-input .form-control {
    border-top-left-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 0;
}

.iti.iti--allow-dropdown {
    width: 100%;
}

.col-12 {
    display: flex;
    justify-content: center;
}

.col-12 .sub-btn {
    display: flex;
    justify-content: center;
}

.final-sub{
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
    

}
button.btn.btn-primary.final-submit{
    background-color: #6c816b;
    border: none;
    font-size: 20px;
    padding: 10px 20px 10px;

}

.btns {
    display: flex;
    justify-content: right;
    column-gap: 3px;
    margin-top: 10px;
}

.delete-btn,
.delete-btn-exp,
.delete-btn-comp,
.delete-btn-lang {
    background-color: red;
    color: white;
    border: none;
    padding: 8px 15px 8px;
    border-radius: 5px;
}



.add-btn-exp,
.add-btn-edu,
.add-btn-comp,
.add-btn-lang {
    position: relative;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    bottom: 39px;

}

button.btn.btn-primary.add-btn-exp,
button.btn.btn-primary.add-btn-edu,
button.btn.btn-primary.add-btn-comp,
button.btn.btn-primary.add-btn-lang{
    display: inline-block;
    align-items: center;
    width: 300px;
    border: 2px dashed;
    background: none;
    color: rgb(71, 71, 71);
}



.dates-exp {
    display: flex;
    column-gap: 5px;
}


.exp-dates, .edu-dates{
    display: flex;
    column-gap: 10px;
}

.form-educ, .form-exp{
    row-gap: 20px;
    display: flex;
    flex-direction: column;
}


.nav-follow{
    list-style: none;
    font-size: 35px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 22%;
    width: 85px;
    height: 334px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    padding: 10px;
    background-color: rgb(255, 255, 255);
    z-index: 0;
    cursor: pointer;
    margin-left: 10px;
}

.side-bar-container{
    display: flex;
    width: 800px;
    flex-direction: row-reverse;
}

.nav-follow-item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30%;
    transition: 0.3s;


}

#pers-scroll:hover, #educ-scroll:hover, #exp-scroll:hover, #skill-scroll:hover, #lang-scroll:hover{
    color: red;

}


.side-bar-wrapper{
    display: flex;
    justify-content: center;
}

.side-bar-clicked{
    color: red;
    font-size: 40px;
}

.pers-inputs-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 15px;
    row-gap: 15px;
}