@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #293237;
}
.container{
    position: relative;
    max-width: 900px;
    width: 100%;
    border-radius: 6px;
    padding: 30px;
    margin: 0px 15px;
    background-color: #fff;
    box-shadow:  0px 5px 10px rgba(0, 0, 0, 0.1);
}
 .container header{
    position: relative;
    font-size: 20px;
    font-weight: 600;
    color: #333;
 }
 .container header::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 3px;
    width: 27px;
    border-radius: 8px;
    background-color: #293237;

 }
 .container form{
    position: relative;
    margin-top: 16px;
    min-height: 500px;
    background-color: #fff;
 }
.container form .personel{
    margin-top: 30px; 
}
.container form .title{
    display: block;
    margin-bottom: 8px;
    font-size: 16px; 
    font-weight: 500;
    margin: 6px 0px;
    color: #333;
}

.select-civilite {
    height: 42px;
    position: relative;
    font-family: Arial;
}

.civi{
    width: 100%;
    height: 100%;
}


.container form .fields{   /*put item in the center */
    display: flex;
    align-items: center;
    justify-content: space-between; 
    flex-wrap: wrap;
}
form .fields .input-field{
    display: flex;
    width: calc(100% / 3 - 15px);
  /*  background-color: red;*/
    flex-direction: column; 
    margin: 4px 0;
}
.input-field label{
    font-size: 12px;
    font-weight: 500;
    color: #2e2e2e ;
}
.input-field input{
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 0 15px;
    height: 42px; 
    margin: 8px 0;
}
.input-field input:is(:focus, :valid){
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.318);
}
.input-field input[type="date"] {
    color: #707070; 
}
.input-field input[type="date"]:valid{
    color: #707070; 
}

.first-inputs{
    display: inline-flex;
    width: 100%;
}
.name-input {
    width: 100%;
}
.name-input input{
    width: 100%;
    
}

.upload-image{
    display: flex;
    width: 50%;
    position: relative;
   
}
.upload-image img{
    border-radius: 50%;
    border: 6px solid #eaeaea;

}
.upload-image .round{
    position: relative;
    background: #00B4FF;
    width: 32px;
    height: 32px;
    line-height: 33px;
    text-align: center;
    border-radius: 50px;
    overflow: hidden;
}

.upload-image .round input[type='file']{
    position: absolute;
    transform: scale(2);
    opacity: 0;
}
input[type='file']::-webkit-file-upload-button{
    cursor: pointer;
}

.container form button{
    position: relative;
    display: flex;
    align-items: center ;
    justify-content: center;
    height: 45px;
    max-width: 200px;
    width: 100%;
    background-color: #4070f4;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    margin: 25px 0px;
    background-color: #4070f4;
    transition: all 0.3s linear;
    cursor: pointer;
}
form button:hover{
    background-color: #265df2;
}
.wrap{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    padding-bottom: 10px;
}
.add{
    text-decoration: none;
    display: inline-block;
    width: 30px;
    height: 30px;
    background: #4070f4;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*dynamic inpput*/

.delete{
    text-decoration: none;
    display: inline-block;
    
    color: #777777;
    font-size: 30px;
    font-weight: bold;
    width: 20px;
    height: 20px;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
     
    
}

.field2 {
    margin: 10px;
}

.desc {
    width: 100%;
}

.flex{
    display: block;
}