<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/stylesheets/resume-form.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <title>Les informations personnelles</title>
</head>

<body>
    <div class="container">
        
        <header>Inscription</header>

        <form action="">
            <span class="title">Détails personnels</span>

            <div class="personel details">

                <div class="first-inputs">
                    <div class="upload-image">
                        <img src="/../../public/images/noprofil.jpg" width="100px" height="100px" alt="">
                        <div class="round">
                            <input type="file">
                            <i class="fa fa-camera" style="color: #fff;"></i>
                        </div>
                    </div>
                    
                    <div class="name-input">
                    
                        <div class="name-input">
                            <div class="input-field">
                                <label for="nom">Prénom</label>
                                <input type="text" name="nom" placeholder="Enter your prénom" required>
                            </div>
        
                            <div class="input-field">
                                <label for="nom">Nom</label>
                                <input type="text" name="nom" placeholder="Entez votre nom" required>
                            </div>
                        </div>
                        
                    </div>
                </div>
                
                


                <div class="fields">
                    

                    <div class="input-field">
                        <label for="nom">N° CIN</label>
                        <input type="text" name="nom" placeholder="Entez votre id" required>
                    </div>

                    <div class="input-field">
                        <label for="nom">Numéro de téléphone</label>
                        <input type="text" name="nom" placeholder="Entez votre numéro de téléphone" required>
                    </div>

                    <div class="input-field">
                        <label for="nom">E-mail</label>
                        <input type="email" name="nom" placeholder="Entez votre email" required>
                    </div>

                    <div class="input-field">
                        <label for="nom">Adresse</label>
                        <input type="text" name="nom" placeholder="Enter votre adresse" required>
                    </div>

                    <div class="input-field">
                        <label for="nom">Ville</label>
                        <input type="text" name="nom" placeholder="Entez votre ville" required>
                    </div>

                    <div class="input-field">
                        <label for="nom">Pays</label>
                        <input type="text" name="nom" placeholder="Entez votre pays" required>
                    </div>

                    <div class="input-field">
                        <label for="nom">Date de naissance</label>
                        <input type="date" name="nom" placeholder="Entez votre date de naissance" required>
                    </div>

                    <div class="input-field">
                        <label for="nom">Nationalité</label>
                        <input type="text" name="nom" placeholder="entrez votre nationalité" required>
                    </div>

                    <div class="input-field">

                        <label for="nom">Etat civile</label>
                        <div class="select-civilite">
                            <select name="civilite" class = "civi" id="civilite">
                                <option value="Celibataire">Celibataire</option>
                                <option value="Marié">Marié</option>
                                <option value="Autre">Autre</option>
                            </select>
                        </div>
                        
                        
                    </div>
                </div>

            </div>

        </form>


        <div class="wrap">
            <span>Education</span>
            <a href="#" class="add">&plus;</a>
        </div>
        
        <div class="input-group">
        </div>
           
        
    </div>


    <script src="../../public/javascript/resume-form.js"></script>


</body>

</html>